<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <?define launcherFiles=?>
  <?define launcherFilesPath=$(var.BinDir)modules\launcher\?>

  <?define launcherImagesComponentFiles=?>
  <?define launcherImagesComponentFilesPath=$(var.BinDir)modules\launcher\Images\?>
  <?define calcComponentFiles=?>
  <?define calcComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Calculator\?>

  <?define FolderComponentFiles=?>
  <?define FolderComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Folder\?>
  <?define FolderImagesComponentFiles=?>
  <?define FolderImagesComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Folder\Images?>

  <?define ProgramComponentFiles=?>
  <?define ProgramComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Program\?>
  <?define ProgramImagesComponentFiles=?>
  <?define ProgramImagesComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Program\Images\?>

  <?define ShellComponentFiles=?>
  <?define ShellComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Shell\?>
  <?define ShellImagesComponentFiles=?>
  <?define ShellImagesComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Shell\Images\?>

  <?define IndexerComponentFiles=?>
  <?define IndexerComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Indexer\?>
  <?define IndexerImagesComponentFiles=?>
  <?define IndexerImagesComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Indexer\Images\?>

  <?define UnitConvCompFiles=?>
  <?define UnitConvCompFilesPath=$(var.BinDir)modules\launcher\Plugins\UnitConverter\?>

  <?define WebSrchCompFiles=?>
  <?define WebSrchCompFilesPath=$(var.BinDir)modules\launcher\Plugins\WebSearch\?>

  <?define HistoryPluginComponentFiles=?>
  <?define HistoryPluginComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\History\?>

  <?define UriComponentFiles=?>
  <?define UriComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Uri\?>

  <?define VSCWrkCompFiles=?>
  <?define VSCWrkCompFilesPath=$(var.BinDir)modules\launcher\Plugins\VSCodeWorkspaces\?>

  <?define WindowWlkrCompFiles=?>
  <?define WindowWlkrCompFilesPath=$(var.BinDir)modules\launcher\Plugins\WindowWalker\?>
  <?define WindowWlkrImagesCompFiles=?>
  <?define WindowWlkrImagesCompFilesPath=$(var.BinDir)modules\launcher\Plugins\WindowWalker\Images\?>

  <?define OneNoteComponentFiles=?>
  <?define OneNoteComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\OneNote\?>

  <?define RegistryComponentFiles=?>
  <?define RegistryComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Registry\?>

  <?define ServiceComponentFiles=?>
  <?define ServiceComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\Service\?>

  <?define SystemComponentFiles=?>
  <?define SystemComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\System\?>
  <?define SystemImagesComponentFiles=?>
  <?define SystemImagesComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\System\Images\?>

  <?define TimeDateComponentFiles=?>
  <?define TimeDateComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\TimeDate\?>
  <?define TimeDateImagesComponentFiles=?>
  <?define TimeDateImagesComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\TimeDate\Images\?>

  <?define TimeZoneComponentFiles=?>
  <?define TimeZoneComponentFilesPath=$(var.BinDir)modules\launcher\Plugins\TimeZone\?>

  <?define WinSetCmpFiles=?>
  <?define WinSetCmpFilesPath=$(var.BinDir)modules\launcher\Plugins\WindowsSettings\?>

  <?define WinTermCmpFiles=?>
  <?define WinTermCmpFilesPath=$(var.BinDir)modules\launcher\Plugins\WindowsTerminal\?>

  <Fragment>
    <Component Id="launcherShortcutComponent" Directory="LauncherInstallFolder" >
      <!-- Toast Notification AUMID -->
      <RegistryKey Root="HKCU" Key="SOFTWARE\Classes\AppUserModelId\PowerToysRun">
        <RegistryValue Type="string" Name="DisplayName" Value="PowerToys Run" />
        <RegistryValue Type="string" Name="IconUri" Value="[LauncherImagesFolder]RunAsset.ico" />
      </RegistryKey>
    </Component>

    <DirectoryRef Id="LauncherInstallFolder" FileSource="$(var.launcherFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--launcherFiles_Component_Def-->
    </DirectoryRef>


    <DirectoryRef Id="LauncherImagesFolder" FileSource="$(var.launcherImagesComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--launcherImagesComponentFiles_Component_Def-->
    </DirectoryRef>

    <!-- Calculator Plugin -->
    <DirectoryRef Id="CalculatorPluginFolder" FileSource="$(var.calcComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--calcComponentFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="calculatorImagesComponentLight" Directory="CalculatorImagesFolder" >
      <File Id="calculatorPluginImg_calculator_light" Source="$(var.BinDir)modules\launcher\Plugins\Calculator\Images\calculator.light.png" />
    </Component>
    <Component Id="calculatorImagesComponentDark" Directory="CalculatorImagesFolder" >
      <File Id="calculatorPluginImg_calculator_dark" Source="$(var.BinDir)modules\launcher\Plugins\Calculator\Images\calculator.dark.png" />
    </Component>

    <!-- Folder Plugin -->
    <DirectoryRef Id="FolderPluginFolder" FileSource="$(var.FolderComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--FolderComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="FolderPluginImagesFolder" FileSource="$(var.FolderImagesComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--FolderImagesComponentFiles_Component_Def-->
    </DirectoryRef>

    <!-- Program Plugin -->
    <DirectoryRef Id="ProgramPluginFolder" FileSource="$(var.ProgramComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--ProgramComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="ProgramImagesFolder" FileSource="$(var.ProgramImagesComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--ProgramImagesComponentFiles_Component_Def-->
    </DirectoryRef>

    <!-- Shell Plugin -->
    <DirectoryRef Id="ShellPluginFolder" FileSource="$(var.ShellComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--ShellComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="ShellImagesFolder" FileSource="$(var.ShellImagesComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--ShellImagesComponentFiles_Component_Def-->
    </DirectoryRef>

    <!-- Indexer Plugin -->
    <DirectoryRef Id="IndexerPluginFolder" FileSource="$(var.IndexerComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--IndexerComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="IndexerImagesFolder" FileSource="$(var.IndexerImagesComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--IndexerImagesComponentFiles_Component_Def-->
    </DirectoryRef>

    <!-- UnitConverter Plugin -->
    <DirectoryRef Id="UnitConverterPluginFolder" FileSource="$(var.UnitConvCompFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--UnitConvCompFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="UnitConverterImagesComponentLight" Directory="UnitConverterImagesFolder" >
      <File Id="UnitConverterLight" Source="$(var.BinDir)modules\launcher\Plugins\UnitConverter\Images\unitconverter.light.png" />
    </Component>
    <Component Id="UnitConverterImagesComponentDark" Directory="UnitConverterImagesFolder" >
      <File Id="UnitConverterDark" Source="$(var.BinDir)modules\launcher\Plugins\UnitConverter\Images\unitconverter.dark.png" />
    </Component>

    <!-- WebSearch Plugin -->
    <DirectoryRef Id="WebSearchPluginFolder" FileSource="$(var.WebSrchCompFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--WebSrchCompFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="WebSearchImagesComponentLight" Directory="WebSearchImagesFolder" >
      <File Id="WebSearchLight" Source="$(var.BinDir)modules\launcher\Plugins\WebSearch\Images\WebSearch.light.png" />
    </Component>
    <Component Id="WebSearchImagesComponentDark" Directory="WebSearchImagesFolder" >
      <File Id="WebSearchDark" Source="$(var.BinDir)modules\launcher\Plugins\WebSearch\Images\WebSearch.dark.png" />
    </Component>

    <!-- History Plugin -->
    <DirectoryRef Id="HistoryPluginFolder" FileSource="$(var.HistoryPluginComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--HistoryPluginComponentFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="HistoryImagesComponentLight" Directory="HistoryImagesFolder" >
      <File Id="HistoryLightIcon" Source="$(var.BinDir)modules\launcher\Plugins\History\Images\history.light.png" />
    </Component>
    <Component Id="HistoryImagesComponentDark" Directory="HistoryImagesFolder" >
      <File Id="HistoryDarkIcon" Source="$(var.BinDir)modules\launcher\Plugins\History\Images\history.dark.png" />
    </Component>

    <!-- Uri Plugin -->
    <DirectoryRef Id="UriPluginFolder" FileSource="$(var.UriComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--UriComponentFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="UriImagesComponentLight" Directory="UriImagesFolder" >
      <File Id="UriLightIcon" Source="$(var.BinDir)modules\launcher\Plugins\Uri\Images\Uri.light.png" />
    </Component>
    <Component Id="UriImagesComponentDark" Directory="UriImagesFolder" >
      <File Id="UriDarkIcon" Source="$(var.BinDir)modules\launcher\Plugins\Uri\Images\Uri.dark.png" />
    </Component>

    <!-- VSCodeWorkspaces Plugin -->
    <DirectoryRef Id="VSCodeWorkspacesPluginFolder" FileSource="$(var.VSCWrkCompFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--VSCWrkCompFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="VSCodeWorkspacesImagesComponentLight" Directory="VSCodeWorkspaceImagesFolder" >
      <File Id="VSCodeWorkspaceCodeLight" Source="$(var.BinDir)modules\launcher\Plugins\VSCodeWorkspaces\Images\code-light.png" />
    </Component>
    <Component Id="VSCodeWorkspacesImagesComponentDark" Directory="VSCodeWorkspaceImagesFolder" >
      <File Id="VSCodeWorkspaceCodeDark" Source="$(var.BinDir)modules\launcher\Plugins\VSCodeWorkspaces\Images\code-dark.png" />
    </Component>
    <Component Id="VSCodeWorkspacesImagesComponentFolder" Directory="VSCodeWorkspaceImagesFolder" >
      <File Id="VSCodeWorkspaceFolder" Source="$(var.BinDir)modules\launcher\Plugins\VSCodeWorkspaces\Images\folder.png" />
    </Component>
    <Component Id="VSCodeWorkspacesImagesComponentMonitor" Directory="VSCodeWorkspaceImagesFolder" >
      <File Id="VSCodeWorkspaceRemote" Source="$(var.BinDir)modules\launcher\Plugins\VSCodeWorkspaces\Images\monitor.png" />
    </Component>

    <!-- WindowWalker Plugin -->
    <DirectoryRef Id="WindowWalkerPluginFolder" FileSource="$(var.WindowWlkrCompFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--WindowWlkrCompFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="WindowWalkerImagesFolder" FileSource="$(var.WindowWlkrImagesCompFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--WindowWlkrImagesCompFiles_Component_Def-->
    </DirectoryRef>

    <!-- OneNote Plugin -->
    <DirectoryRef Id="OneNotePluginFolder" FileSource="$(var.OneNoteComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--OneNoteComponentFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="OneNoteImagesComponentLight" Directory="OneNoteImagesFolder" >
      <File Id="OneNoteLightIcon" Source="$(var.BinDir)modules\launcher\Plugins\OneNote\Images\oneNote.light.png" />
    </Component>
    <Component Id="OneNoteImagesComponentDark" Directory="OneNoteImagesFolder" >
      <File Id="OneNoteDarkIcon" Source="$(var.BinDir)modules\launcher\Plugins\OneNote\Images\oneNote.dark.png" />
    </Component>

    <!-- Registry Plugin -->
    <DirectoryRef Id="RegistryPluginFolder" FileSource="$(var.RegistryComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--RegistryComponentFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="RegistryImagesComponentLight" Directory="RegistryImagesFolder" >
      <File Id="RegistryLightIcon" Source="$(var.BinDir)modules\launcher\Plugins\Registry\Images\reg.light.png" />
    </Component>
    <Component Id="RegistryImagesComponentDark" Directory="RegistryImagesFolder" >
      <File Id="RegistryDarkIcon" Source="$(var.BinDir)modules\launcher\Plugins\Registry\Images\reg.dark.png" />
    </Component>

    <!-- Service Plugin -->
    <DirectoryRef Id="ServicePluginFolder" FileSource="$(var.ServiceComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--ServiceComponentFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="ServiceImagesComponentLight" Directory="ServiceImagesFolder" >
      <File Id="ServiceLightIcon" Source="$(var.BinDir)modules\launcher\Plugins\Service\Images\service.light.png" />
    </Component>
    <Component Id="ServiceImagesComponentDark" Directory="ServiceImagesFolder" >
      <File Id="ServiceDarkIcon" Source="$(var.BinDir)modules\launcher\Plugins\Service\Images\service.dark.png" />
    </Component>

    <!-- System Plugin -->
    <DirectoryRef Id="SystemPluginFolder" FileSource="$(var.SystemComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--SystemComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="SystemImagesFolder" FileSource="$(var.SystemImagesComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--SystemImagesComponentFiles_Component_Def-->
    </DirectoryRef>

    <!-- TimeDate Plugin -->
    <DirectoryRef Id="TimeDatePluginFolder" FileSource="$(var.TimeDateComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--TimeDateComponentFiles_Component_Def-->
    </DirectoryRef>
    <DirectoryRef Id="TimeDateImagesFolder" FileSource="$(var.TimeDateImagesComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--TimeDateImagesComponentFiles_Component_Def-->
    </DirectoryRef>

    <!-- TimeZone Plugin -->
    <DirectoryRef Id="TimeZonePluginFolder" FileSource="$(var.TimeZoneComponentFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--TimeZoneComponentFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="TimeZoneImagesComponentLight" Directory="TimeZoneImagesFolder" >
      <File Id="TimeZoneLightIcon" Source="$(var.BinDir)modules\launcher\Plugins\TimeZone\Images\timeZone.light.png" />
    </Component>
    <Component Id="TimeZoneImagesComponentDark" Directory="TimeZoneImagesFolder" >
      <File Id="TimeZoneDarkIcon" Source="$(var.BinDir)modules\launcher\Plugins\TimeZone\Images\timeZone.dark.png" />
    </Component>

    <!-- WindowsSettings Plugin -->
    <DirectoryRef Id="WindowsSettingsPluginFolder" FileSource="$(var.WinSetCmpFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--WinSetCmpFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="WindowsSettingsImagesComponentLight" Directory="WindowsSettingsImagesFolder" >
      <File Id="WindowsSettingsLightIcon" Source="$(var.BinDir)modules\launcher\Plugins\WindowsSettings\Images\WindowsSettings.light.png" />
    </Component>
    <Component Id="WindowsSettingsImagesComponentDark" Directory="WindowsSettingsImagesFolder" >
      <File Id="WindowsSettingsDarkIcon" Source="$(var.BinDir)modules\launcher\Plugins\WindowsSettings\Images\WindowsSettings.dark.png" />
    </Component>

    <!-- WindowsTerminal Plugin -->
    <DirectoryRef Id="WindowsTerminalPluginFolder" FileSource="$(var.WinTermCmpFilesPath)">
    <!-- Generated by generateFileComponents.ps1 -->
    <!--WinTermCmpFiles_Component_Def-->
    </DirectoryRef>

    <Component Id="WindowsTerminalImagesComponentLight" Directory="WindowsTerminalImagesFolder" >
      <File Id="WindowsTerminalLightIcon" Source="$(var.BinDir)modules\launcher\Plugins\WindowsTerminal\Images\WindowsTerminal.light.png" />
    </Component>
    <Component Id="WindowsTerminalImagesComponentDark" Directory="WindowsTerminalImagesFolder" >
      <File Id="WindowsTerminalDarkIcon" Source="$(var.BinDir)modules\launcher\Plugins\WindowsTerminal\Images\WindowsTerminal.dark.png" />
    </Component>

    <ComponentGroup Id="RunComponentGroup">
      <ComponentRef Id="launcherShortcutComponent" />
      <?foreach File in $(var.launcherFiles)?>
        <ComponentRef Id="launcherFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.launcherImagesComponentFiles)?>
        <ComponentRef Id="launcherImagesComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.calcComponentFiles)?>
        <ComponentRef Id="calcComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="calculatorImagesComponentLight" />
      <ComponentRef Id="calculatorImagesComponentDark" />
      <?foreach File in $(var.FolderComponentFiles)?>
        <ComponentRef Id="FolderComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.FolderImagesComponentFiles)?>
        <ComponentRef Id="FolderImagesComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.ProgramComponentFiles)?>
        <ComponentRef Id="ProgramComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.ProgramImagesComponentFiles)?>
        <ComponentRef Id="ProgramImagesComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.ShellComponentFiles)?>
        <ComponentRef Id="ShellComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.ShellImagesComponentFiles)?>
        <ComponentRef Id="ShellImagesComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.IndexerComponentFiles)?>
        <ComponentRef Id="IndexerComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.IndexerImagesComponentFiles)?>
        <ComponentRef Id="IndexerImagesComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.UnitConvCompFiles)?>
        <ComponentRef Id="UnitConvCompFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="UnitConverterImagesComponentLight" />
      <ComponentRef Id="UnitConverterImagesComponentDark" />
      <?foreach File in $(var.WebSrchCompFiles)?>
        <ComponentRef Id="WebSrchCompFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="WebSearchImagesComponentLight" />
      <ComponentRef Id="WebSearchImagesComponentDark" />
      <?foreach File in $(var.HistoryPluginComponentFiles)?>
        <ComponentRef Id="HistoryPluginComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="HistoryImagesComponentLight" />
      <ComponentRef Id="HistoryImagesComponentDark" />
      <?foreach File in $(var.UriComponentFiles)?>
        <ComponentRef Id="UriComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="UriImagesComponentLight" />
      <ComponentRef Id="UriImagesComponentDark" />
      <?foreach File in $(var.VSCWrkCompFiles)?>
        <ComponentRef Id="VSCWrkCompFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="VSCodeWorkspacesImagesComponentLight" />
      <ComponentRef Id="VSCodeWorkspacesImagesComponentDark" />
      <ComponentRef Id="VSCodeWorkspacesImagesComponentFolder" />
      <ComponentRef Id="VSCodeWorkspacesImagesComponentMonitor" />
      <?foreach File in $(var.WindowWlkrCompFiles)?>
        <ComponentRef Id="WindowWlkrCompFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.WindowWlkrImagesCompFiles)?>
        <ComponentRef Id="WindowWlkrImagesCompFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.OneNoteComponentFiles)?>
        <ComponentRef Id="OneNoteComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="OneNoteImagesComponentLight" />
      <ComponentRef Id="OneNoteImagesComponentDark" />
      <?foreach File in $(var.RegistryComponentFiles)?>
        <ComponentRef Id="RegistryComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="RegistryImagesComponentLight" />
      <ComponentRef Id="RegistryImagesComponentDark" />
      <?foreach File in $(var.ServiceComponentFiles)?>
        <ComponentRef Id="ServiceComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="ServiceImagesComponentLight" />
      <ComponentRef Id="ServiceImagesComponentDark" />
      <?foreach File in $(var.SystemComponentFiles)?>
        <ComponentRef Id="SystemComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.SystemImagesComponentFiles)?>
        <ComponentRef Id="SystemImagesComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.TimeDateComponentFiles)?>
        <ComponentRef Id="TimeDateComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.TimeDateImagesComponentFiles)?>
        <ComponentRef Id="TimeDateImagesComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <?foreach File in $(var.TimeZoneComponentFiles)?>
        <ComponentRef Id="TimeZoneComponentFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="TimeZoneImagesComponentLight" />
      <ComponentRef Id="TimeZoneImagesComponentDark" />
      <?foreach File in $(var.WinSetCmpFiles)?>
        <ComponentRef Id="WinSetCmpFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="WindowsSettingsImagesComponentLight" />
      <ComponentRef Id="WindowsSettingsImagesComponentDark" />
      <?foreach File in $(var.WinTermCmpFiles)?>
        <ComponentRef Id="WinTermCmpFiles_Comp_$(var.File)" />
      <?endforeach?>
      <ComponentRef Id="WindowsTerminalImagesComponentLight" />
      <ComponentRef Id="WindowsTerminalImagesComponentDark" />
    </ComponentGroup>
  </Fragment>
</Wix>
