<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >

  <?include $(sys.CURRENTDIR)\Common.wxi?>

  <?define ShortcutGuideExecutable=$(var.BinDir)\modules\ShortcutGuide\ShortcutGuide?>
  <?define ShortcutGuideModuleInterface=$(var.BinDir)\modules\ShortcutGuide\ShortcutGuideModuleInterface?>

  <Fragment>
    <!-- Shortcut guide files -->
    <DirectoryRef Id="ShortcutGuideSvgsInstallFolder" FileSource="$(var.ShortcutGuideExecutable)\svgs\">
      <Component Id="ShortcutGuideSvgs_0" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\0.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_1" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\1.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_2" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\2.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_3" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\3.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_4" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\4.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_5" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\5.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_6" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\6.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_7" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\7.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_8" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\8.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_9" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\9.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_no_active_window" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\no_active_window.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_overlay" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\overlay.svg" />
      </Component>
      <Component Id="ShortcutGuideSvgs_overlay_portrait" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\svgs\overlay_portrait.svg" />
      </Component>
    </DirectoryRef>

    <!-- Shortcut guide -->
    <DirectoryRef Id="ShortcutGuideModuleInterfaceInstallFolder" FileSource="$(var.ShortcutGuideModuleInterface)">
      <Component Id="Module_ShortcutGuideModuleInterface" Win64="yes">
        <File Source="$(var.ShortcutGuideModuleInterface)\PowerToys.ShortcutGuideModuleInterface.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ShortcutGuideExecutableInstallFolder" FileSource="$(var.ShortcutGuideExecutable)">
      <Component Id="Module_ShortcutGuideExecutable" Win64="yes">
        <File Source="$(var.ShortcutGuideExecutable)\PowerToys.ShortcutGuide.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ShortcutGuideComponentGroup" Directory="INSTALLFOLDER">
      <ComponentRef Id="ShortcutGuideSvgs_0" />
      <ComponentRef Id="ShortcutGuideSvgs_1" />
      <ComponentRef Id="ShortcutGuideSvgs_2" />
      <ComponentRef Id="ShortcutGuideSvgs_3" />
      <ComponentRef Id="ShortcutGuideSvgs_4" />
      <ComponentRef Id="ShortcutGuideSvgs_5" />
      <ComponentRef Id="ShortcutGuideSvgs_6" />
      <ComponentRef Id="ShortcutGuideSvgs_7" />
      <ComponentRef Id="ShortcutGuideSvgs_8" />
      <ComponentRef Id="ShortcutGuideSvgs_9" />
      <ComponentRef Id="ShortcutGuideSvgs_no_active_window" />
      <ComponentRef Id="ShortcutGuideSvgs_overlay" />
      <ComponentRef Id="ShortcutGuideSvgs_overlay_portrait" />
      <ComponentRef Id="Module_ShortcutGuideModuleInterface" />
      <ComponentRef Id="Module_ShortcutGuideExecutable" />
    </ComponentGroup>

  </Fragment>
</Wix>
